            <dt{% if not alias.has_details and alias.base_url == compound.url %} id="{{ alias.id }}"{% endif %}>
              {% if alias.templates != None %}
              {% set j = joiner(', ') %}
              <div class="m-doc-template">template&lt;{% for t in alias.templates %}{{ j() }}{{ t.type }}{% if t.name %} {{ t.name }}{% endif %}{% if t.default %} = {{ t.default }}{% endif%}{% endfor %}&gt;</div>
              {% endif %}
              using <a href="{% if alias.base_url != compound.url %}{{ alias.base_url }}{% endif %}#{{ alias.id }}" class="m-doc{% if not alias.has_details and alias.base_url == compound.url %}-self{% endif %}">{{ alias.name }}</a> = {{ alias.type }}{{ alias.args }}{% if alias.deprecated %} <span class="m-label m-danger">{{ alias.deprecated }}</span>{% endif %}{% if mark_nonpublic and alias.is_protected %} <span class="m-label m-flat m-warning">protected</span>{% endif %}{% if alias.since %} {{ alias.since }}{% endif %}
              {# This empty line needs to be there otherwise it's eaten #}

            </dt>
            <dd>{{ alias.brief }}</dd>
