{% extends 'base.html' %}

{% macro entry_class(class, show_full_name=False) %}{% include 'entry-class.html' %}{% endmacro %}
{% macro entry_alias(alias, show_full_name=False) %}{% include 'entry-alias.html' %}{% endmacro %}
{% macro entry_enum(enum, show_full_name=False) %}{% include 'entry-enum.html' %}{% endmacro %}
{% macro entry_function(function, show_full_name=False) %}{% include 'entry-function.html' %}{% endmacro %}
{% macro entry_variable(variable, show_full_name=False) %}{% include 'entry-variable.html' %}{% endmacro %}
{% macro entry_macro(macro) %}{% include 'entry-macro.html' %}{% endmacro %}

{% macro details_alias(alias, show_full_name=False) %}{% include 'details-alias.html' %}{% endmacro %}
{% macro details_enum(enum, show_full_name=False) %}{% include 'details-enum.html' %}{% endmacro %}
{% macro details_function(function, show_full_name=False) %}{% include 'details-function.html' %}{% endmacro %}
{% macro details_variable(variable, show_full_name=False) %}{% include 'details-variable.html' %}{% endmacro %}
{% macro details_macro(macro) %}{% include 'details-macro.html' %}{% endmacro %}

{% block title %}{% set j = joiner('::') %}{% for name, _ in compound.breadcrumb %}{{ j() }}{{ name }}{% endfor %} {{ compound.member_type }} | {{ super() }}{% endblock %}

{% block main %}
        <h1>
          {% if compound.templated %}
          {% if compound.include %}
          <div class="m-doc-include m-code m-inverted m-right-m m-text-right"><span class="cp">#include</span> <a class="cpf" href="{{ compound.include[1] }}">{{ compound.include[0] }}</a></div>
          {% endif %}
          {% set j = joiner(',\n    ') %}
           <div class="m-doc-template"><span class="m-doc-wrap-bumper">template&lt;</span><span class="m-doc-wrap">{% for t in compound.template_parameters %}{{ j() }}{{ t.type }}{% if t.name %} {{ t.name }}{% endif %}{% if t.default %} = {{ t.default }}{% endif%}{% endfor %}&gt;</span></div>
          {% endif %}
          {%+ for name, target in compound.breadcrumb[:-1] %}<span class="m-breadcrumb"><a href="{{ target }}">{{ name }}</a>::<wbr/></span>{% endfor %}{{ compound.breadcrumb[-1][0] }} <span class="m-thin">{{ compound.member_type }}</span>{% if compound.final %} <span class="m-label m-flat m-warning">final</span>{% endif %}{% if compound.since %} {{ compound.since }}{% endif %}
          {# need an explicit space here otherwise the newline gets removed #}

          {% if compound.include and not compound.templated %}
          <div class="m-doc-include m-code m-inverted m-text-right"><span class="cp">#include</span> <a class="cpf" href="{{ compound.include[1] }}">{{ compound.include[0] }}</a></div>
          {% endif %}
        </h1>
        {% if compound.brief %}
        <p>{{ compound.brief }}</p>
        {% endif %}
        {% if compound.has_template_details %}
        <table class="m-table m-fullwidth m-first-tight m-flat">
          <thead>
            <tr><th colspan="2">Template parameters</th></tr>
          </thead>
          <tbody>
            {% for template in compound.template_parameters|selectattr('name') %}
            <tr>
              <td>{{ template.name }}</td>
              <td>{{ template.doc }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if compound.sections or compound.base_classes or compound.derived_classes or compound.typeless_functions or compound.groups or compound.classes or compound.enums or compound.aliases or compound.functions or compound.variables or compound.related %}
        <div class="m-block m-default">
          <h3>Contents</h3>
          <ul>
            {% for id, name, children in compound.sections recursive %}
            {% if children %}
            <li>
              <a href="#{{ id }}">{{ name }}</a>
              <ul>
{{ loop(children)|rtrim|indent(4, true) }}
              </ul>
            </li>
            {% else %}
            <li><a href="#{{ id }}">{{ name }}</a></li>
            {% endif %}
            {% endfor %}
            <li>
              Reference
              <ul>
                {% if compound.base_classes %}
                <li><a href="#base-classes">Base classes</a></li>
                {% endif %}
                {% if compound.derived_classes %}
                <li><a href="#derived-classes">Derived classes</a></li>
                {% endif %}
                {% if compound.typeless_functions %}
                <li><a href="#typeless-methods">Constructors, destructors, assignment and conversion operators</a></li>
                {% endif %}
                {% for group in compound.groups %}
                <li><a href="#{{ group.id }}">{{ group.name }}</a></li>
                {% endfor %}
                {% if compound.classes %}
                <li><a href="#nested-classes">Classes</a></li>
                {% endif %}
                {% if compound.enums %}
                <li><a href="#enum-members">Enums</a></li>
                {% endif %}
                {% if compound.aliases %}
                <li><a href="#alias-members">Aliases</a></li>
                {% endif %}
                {% if compound.functions %}
                <li><a href="#function-members">Functions</a></li>
                {% endif %}
                {% if compound.variables %}
                <li><a href="#variable-members">Variables</a></li>
                {% endif %}
                {% if compound.related %}
                <li><a href="#related">Related</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
        {% if compound.doc %}
{{ compound.doc }}
        {% endif %}
        {% if compound.base_classes %}
        <section id="base-classes">
          <h2><a href="#base-classes">Base classes</a></h2>
          <dl class="m-doc">
            {% for class in compound.base_classes %}
{{ entry_class(class, show_full_name=True) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.derived_classes %}
        <section id="derived-classes">
          <h2><a href="#derived-classes">Derived classes</a></h2>
          <dl class="m-doc">
            {% for class in compound.derived_classes %}
{{ entry_class(class, show_full_name=True) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.typeless_functions %}
        <section id="typeless-methods">
            <h2><a href="#typeless-methods">Constructors, destructors, assignment and conversion operators</a></h2>
            <dl class="m-doc">
                {% for function in compound.typeless_functions %}
{{ entry_function(function) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% for group in compound.groups %}
        <section id="{{ group.id }}">
            <h2><a href="#{{ group.id }}">{{ group.name }}</a></h2>
            <dl class="m-doc">
                {% for member in group.members %}
                {% if member.member_type in ['class', 'struct', 'union'] %}
                {{ entry_class(member) }}
                {% elif member.member_type == 'enum' %}
                {{ entry_enum(member) }}
                {% elif member.member_type == 'alias' %}
                {{ entry_alias(member) }}
                {% elif member.member_type == 'function' %}
                {{ entry_function(member) }}
                {% elif member.member_type == 'variable' %}
                {{ entry_variable(member) }}
                {% endif %}
                {% endfor %}
            </dl>
        </section>
        {% endfor %}
        {% if compound.classes %}
        <section id="nested-classes">
          <h2><a href="#nested-classes">Classes</a></h2>
          <dl class="m-doc">
            {% for type in compound.classes %}
{{ entry_class(type) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.enums %}
        <section id="enum-members">
          <h2><a href="#enum-members">Enums</a></h2>
          <dl class="m-doc">
            {% for type in compound.enums %}
{{ entry_enum(type) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.aliases %}
        <section id="alias-members">
          <h2><a href="#alias-members">Aliases</a></h2>
          <dl class="m-doc">
            {% for function in compound.aliases %}
{{ entry_alias(function) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.functions %}
        <section id="function-members">
          <h2><a href="#function-members">Functions</a></h2>
          <dl class="m-doc">
            {% for variable in compound.functions %}
{{ entry_function(variable) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.variables %}
        <section id="variable-members">
           <h2><a href="#variable-members">Variables</a></h2>
           <dl class="m-doc">
              {% for function in compound.variables %}
{{ entry_variable(function) }}
              {% endfor %}
           </dl>
        </section>
        {% endif %}
        {% if compound.related %}
        <section id="related">
          <h2><a href="#related">Related</a></h2>
          <dl class="m-doc">
            {% for member in compound.related %}
            {% if member.member_type == 'alias' %}
{{ entry_alias(member, show_full_name=True) }}
            {% elif member.member_type == 'enum' %}
{{ entry_enum(member, show_full_name=True) }}
            {% elif member.member_type == 'function' %}
{{ entry_function(member, show_full_name=True) }}
            {% elif member.member_type == 'variable' %}
{{ entry_variable(member, show_full_name=True) }}
            {% elif member.member_type == 'macro' %}
{{ entry_macro(member, show_full_name=True) }}
            {% endif %}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.has_enum_details %}
        <section>
          <h2>Enum documentation</h2>
          {% for group in compound.groups %}
          {% for member in group.members %}
          {% if member.member_type == 'enum' and member.has_details %}
{{ details_enum(member) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for member in compound.public_types %}
          {% if member.member_type == 'enum' and member.has_details %}
{{ details_enum(member) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.protected_types %}
          {% if member.member_type == 'enum' and member.has_details %}
{{ details_enum(member) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.private_types %}
          {% if member.member_type == 'enum' and member.has_details %}
{{ details_enum(member) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.related %}
          {% if member.member_type == 'enum' and member.has_details %}
{{ details_enum(member, show_full_name=True) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_alias_details %}
        <section>
          <h2>Alias documentation</h2>
          {% for group in compound.groups %}
          {% for member in group.members %}
          {% if member.member_type == 'alias' and member.has_details %}
{{ details_alias(member) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for member in compound.aliases %}
          {% if member.has_details %}
{{ details_alias(member) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.related %}
          {% if member.member_type == 'alias' and member.has_details %}
{{ details_alias(member, show_full_name=True) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_function_details %}
        <section>
          <h2>Function documentation</h2>
          {% for function in compound.typeless_functions %}
          {% if function.has_details %}
{{ details_function(function) }}
          {% endif %}
          {% endfor %}
          {% for group in compound.groups %}
          {% for member in group.members %}
          {% if member.member_type == 'function' and member.has_details %}
{{ details_function(member) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for function in compound.functions %}
          {% if function.has_details %}
{{ details_function(function) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.related %}
          {% if member.member_type == 'function' and member.has_details %}
{{ details_function(member, show_full_name=True) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_variable_details %}
        <section>
          <h2>Variable documentation</h2>
          {% for group in compound.groups %}
          {% for member in group.members %}
          {% if member.member_type == 'variable' and member.has_details %}
{{ details_variable(member) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for variable in compound.variables %}
          {% if variable.has_details %}
{{ details_variable(variable) }}
          {% endif %}
          {% endfor %}
          {% for member in compound.related %}
          {% if member.member_type == 'variable' and member.has_details %}
{{ details_variable(member, show_full_name=True) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_macro_details %}
        <section>
          <h2>Macro documentation</h2>
          {% for member in compound.related %}
          {% if member.member_type == 'macro' and member.has_details %}
{{ details_macro(member) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
{% endblock %}

