{% extends 'base.html' %}

{% macro entry_class(class) %}{% include 'entry-class.html' %}{% endmacro %}
{% macro entry_alias(alias, mark_nonpublic=False) %}{% include 'entry-alias.html' %}{% endmacro %}
{% macro entry_enum(enum, mark_nonpublic=False) %}{% include 'entry-enum.html' %}{% endmacro %}
{% macro entry_function(function, mark_nonpublic=False) %}{% include 'entry-function.html' %}{% endmacro %}
{% macro entry_variable(variable, mark_nonpublic=False) %}{% include 'entry-variable.html' %}{% endmacro %}
{% macro entry_macro(macro) %}{% include 'entry-macro.html' %}{% endmacro %}

{% macro details_alias(alias, prefix) %}{% include 'details-alias.html' %}{% endmacro %}
{% macro details_enum(enum, prefix) %}{% include 'details-enum.html' %}{% endmacro %}
{% macro details_function(function, prefix) %}{% include 'details-function.html' %}{% endmacro %}
{% macro details_variable(variable, prefix) %}{% include 'details-variable.html' %}{% endmacro %}
{% macro details_macro(macro) %}{% include 'details-macro.html' %}{% endmacro %}

{% block title %}{% set j = joiner('::') %}{% for name, _ in compound.breadcrumb %}{{ j() }}{{ name }}{% endfor %} {{ compound.kind }} | {{ super() }}{% endblock %}

{% block main %}
        <h1>
          {% if compound.templates != None %}
          {% if compound.include %}
          <div class="m-doc-include m-code m-inverted m-right-m m-text-right"><span class="cp">#include</span> <a class="cpf" href="{{ compound.include[1] }}">{{ compound.include[0] }}</a></div>
          {% endif %}
          {% set j = joiner(',\n    ') %}
           <div class="m-doc-template"><span class="m-doc-wrap-bumper">template&lt;</span><span class="m-doc-wrap">{% for t in compound.templates %}{{ j() }}{{ t.type }}{% if t.name %} {{ t.name }}{% endif %}{% if t.default %} = {{ t.default }}{% endif%}{% endfor %}&gt;</span></div>
          {% endif %}
          {%+ for name, target in compound.breadcrumb[:-1] %}<span class="m-breadcrumb"><a href="{{ target }}">{{ name }}</a>::<wbr/></span>{% endfor %}{{ compound.breadcrumb[-1][0] }} <span class="m-thin">{{ compound.kind }}</span>{% if compound.final %} <span class="m-label m-flat m-warning">final</span>{% endif %}{% if compound.since %} {{ compound.since }}{% endif %}
          {# need an explicit space here otherwise the newline gets removed #}

          {% if compound.include and compound.templates == None %}
          <div class="m-doc-include m-code m-inverted m-text-right"><span class="cp">#include</span> <a class="cpf" href="{{ compound.include[1] }}">{{ compound.include[0] }}</a></div>
          {% endif %}
        </h1>
        {% if compound.brief %}
        <p>{{ compound.brief }}</p>
        {% endif %}
        {% if compound.has_template_details %}
        <table class="m-table m-fullwidth m-flat">
          <thead>
            <tr><th colspan="2">Template parameters</th></tr>
          </thead>
          <tbody>
            {% for template in compound.templates|selectattr('name') %}
            <tr>
              <td{% if loop.index == 1 %} style="width: 1%"{% endif %}>{{ template.name }}</td>
              <td>{{ template.doc }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if compound.sections or compound.base_classes or compound.derived_classes or compound.public_types or compound.public_static_functions or compound.typeless_functions or compound.public_functions or compound.public_static_vars or compound.public_vars or compound.protected_types or compound.protected_static_functions or compound.protected_functions or compound.protected_static_vars or compound.protected_vars or compound.private_types or compound.private_static_functions or compound.private_functions or compound.private_static_vars or compound.private_vars or compound.groups or compound.related %}
        <div class="m-block m-default">
          <h3>Contents</h3>
          <ul>
            {% for id, name, children in compound.sections recursive %}
            {% if children %}
            <li>
              <a href="#{{ id }}">{{ name }}</a>
              <ul>
{{ loop(children)|rtrim|indent(4, true) }}
              </ul>
            </li>
            {% else %}
            <li><a href="#{{ id }}">{{ name }}</a></li>
            {% endif %}
            {% endfor %}
            <li>
              Reference
              <ul>
                {% if compound.base_classes %}
                <li><a href="#base-classes">Base classes</a></li>
                {% endif %}
                {% if compound.derived_classes %}
                <li><a href="#derived-classes">Derived classes</a></li>
                {% endif %}
                {% if compound.typeless_functions %}
                <li><a href="#typeless-methods">Constructors, destructors, conversion operators</a></li>
                {% endif %}
                {% for group in compound.groups %}
                <li><a href="#{{ group.id }}">{{ group.name }}</a></li>
                {% endfor %}
                {% if compound.public_types %}
                <li><a href="#pub-types">Public types</a></li>
                {% endif %}
                {% if compound.public_functions %}
                <li><a href="#pub-methods">Public functions</a></li>
                {% endif %}
                {% if compound.public_vars %}
                <li><a href="#pub-attribs">Public variables</a></li>
                {% endif %}
                {% if compound.public_static_functions %}
                <li><a href="#pub-static-methods">Public static functions</a></li>
                {% endif %}
                {% if compound.public_static_vars %}
                <li><a href="#pub-static-attribs">Public static variables</a></li>
                {% endif %}
                {% if compound.protected_types %}
                <li><a href="#pro-types">Protected types</a></li>
                {% endif %}
                {% if compound.protected_functions %}
                <li><a href="#pro-methods">Protected functions</a></li>
                {% endif %}
                {% if compound.protected_vars %}
                <li><a href="#pro-attribs">Protected variables</a></li>
                {% endif %}
                {% if compound.protected_static_functions %}
                <li><a href="#pro-static-methods">Protected static functions</a></li>
                {% endif %}
                {% if compound.protected_static_vars %}
                <li><a href="#pro-static-attribs">Protected static variables</a></li>
                {% endif %}
                {% if compound.private_types %}
                <li><a href="#pri-types">Private types</a></li>
                {% endif %}
                {% if compound.private_functions %}
                <li><a href="#pri-methods">Private functions</a></li>
                {% endif %}
                {% if compound.private_vars %}
                <li><a href="#pri-attribs">Private variables</a></li>
                {% endif %}
                {% if compound.private_static_functions %}
                <li><a href="#pri-static-methods">Private static functions</a></li>
                {% endif %}
                {% if compound.private_static_vars %}
                <li><a href="#pri-static-attribs">Private static variables</a></li>
                {% endif %}
                {% if compound.related %}
                <li><a href="#related">Related</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
        {% if compound.doc %}
{{ compound.doc }}
        {% endif %}
        {% if compound.base_classes %}
        <section id="base-classes">
          <h2><a href="#base-classes">Base classes</a></h2>
          <dl class="m-doc">
            {% for class in compound.base_classes %}
{{ entry_class(class) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.derived_classes %}
        <section id="derived-classes">
          <h2><a href="#derived-classes">Derived classes</a></h2>
          <dl class="m-doc">
            {% for class in compound.derived_classes %}
{{ entry_class(class) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.typeless_functions %}
        <section id="typeless-methods">
            <h2><a href="#typeless-methods">Constructors, destructors, conversion operators</a></h2>
            <dl class="m-doc">
                {% for function in compound.typeless_functions %}
                {{ entry_function(function) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% for group in compound.groups %}
        <section id="{{ group.id }}">
            <h2><a href="#{{ group.id }}">{{ group.name }}</a></h2>
            {% if group.doc %}
            {{ group.doc }}
            {% endif %}
            <dl class="m-doc">
                {% for kind, member in group.members %}
                {% if kind == 'alias' %}
                {{ entry_alias(member, mark_nonpublic=True) }}
                {% elif kind == 'enum' %}
                {{ entry_enum(member, mark_nonpublic=True) }}
                {% elif kind == 'function' %}
                {{ entry_function(member, mark_nonpublic=True) }}
                {% elif kind == 'variable' %}
                {{ entry_variable(member, mark_nonpublic=True) }}
                {% endif %}
                {% endfor %}
            </dl>
        </section>
        {% endfor %}
        {% if compound.public_types %}
        <section id="pub-types">
          <h2><a href="#pub-types">Public types</a></h2>
          <dl class="m-doc">
            {% for kind, type in compound.public_types %}
            {% if kind == 'class' %}
{{ entry_class(type) }}
            {% elif kind == 'enum' %}
{{ entry_enum(type) }}
            {% elif kind == 'alias' %}
{{ entry_alias(type) }}
            {% endif %}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.public_functions %}
        <section id="pub-methods">
          <h2><a href="#pub-methods">Public functions</a></h2>
          <dl class="m-doc">
            {% for function in compound.public_functions %}
{{ entry_function(function) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.public_vars %}
        <section id="pub-attribs">
          <h2><a href="#pub-attribs">Public variables</a></h2>
          <dl class="m-doc">
            {% for variable in compound.public_vars %}
{{ entry_variable(variable) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.public_static_functions %}
        <section id="pub-static-methods">
           <h2><a href="#pub-static-methods">Public static functions</a></h2>
           <dl class="m-doc">
              {% for function in compound.public_static_functions %}
{{ entry_function(function) }}
              {% endfor %}
           </dl>
        </section>
        {% endif %}
        {% if compound.public_static_vars %}
        <section id="pub-static-attribs">
           <h2><a href="#pub-static-attribs">Public static variables</a></h2>
           <dl class="m-doc">
              {% for variable in compound.public_static_vars %}
{{ entry_variable(variable) }}
              {% endfor %}
           </dl>
        </section>
        {% endif %}
        {% if compound.protected_types %}
        <section id="pro-types">
          <h2><a href="#pro-types">Protected types</a></h2>
          <dl class="m-doc">
            {% for kind, type in compound.protected_types %}
            {% if kind == 'class' %}
{{ entry_class(type) }}
            {% elif kind == 'enum' %}
{{ entry_enum(type) }}
            {% elif kind == 'alias' %}
{{ entry_alias(type) }}
            {% endif %}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.protected_functions %}
        <section id="pro-methods">
          <h2><a href="#pro-methods">Protected functions</a></h2>
          <dl class="m-doc">
            {% for function in compound.protected_functions %}
{{ entry_function(function) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.protected_vars %}
        <section id="pro-attribs">
          <h2><a href="#pro-attribs">Protected variables</a></h2>
          <dl class="m-doc">
            {% for variable in compound.protected_vars %}
{{ entry_variable(variable) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.protected_static_functions %}
        <section id="pro-static-methods">
           <h2><a href="#pro-static-methods">Protected static functions</a></h2>
           <dl class="m-doc">
              {% for function in compound.protected_static_functions %}
{{ entry_function(function) }}
              {% endfor %}
           </dl>
        </section>
        {% endif %}
        {% if compound.protected_static_vars %}
        <section id="pro-static-attribs">
           <h2><a href="#pro-static-attribs">Protected static variables</a></h2>
           <dl class="m-doc">
              {% for variable in compound.protected_static_vars %}
{{ entry_variable(variable) }}
              {% endfor %}
           </dl>
        </section>
        {% endif %}
        {% if compound.private_types %}
        <section id="pri-types">
            <h2><a href="#pro-types">Private types</a></h2>
            <dl class="m-doc">
                {% for kind, type in compound.private_types %}
                {% if kind == 'class' %}
                {{ entry_class(type) }}
                {% elif kind == 'enum' %}
                {{ entry_enum(type) }}
                {% elif kind == 'alias' %}
                {{ entry_alias(type) }}
                {% endif %}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.private_functions %}
        <section id="pri-methods">
            <h2><a href="#pro-methods">Private functions</a></h2>
            <dl class="m-doc">
                {% for function in compound.private_functions %}
                {{ entry_function(function) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.private_vars %}
        <section id="pri-attribs">
            <h2><a href="#pro-attribs">Private variables</a></h2>
            <dl class="m-doc">
                {% for variable in compound.private_vars %}
                {{ entry_variable(variable) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.private_static_functions %}
        <section id="pri-static-methods">
            <h2><a href="#pro-static-methods">Private static functions</a></h2>
            <dl class="m-doc">
                {% for function in compound.private_static_functions %}
                {{ entry_function(function) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.private_static_vars %}
        <section id="pri-static-attribs">
            <h2><a href="#pro-static-attribs">Private static variables</a></h2>
            <dl class="m-doc">
                {% for variable in compound.private_static_vars %}
                {{ entry_variable(variable) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.related %}
        <section id="related">
          <h2><a href="#related">Related</a></h2>
          <dl class="m-doc">
            {% for kind, member in compound.related %}
            {% if kind == 'alias' %}
{{ entry_alias(member) }}
            {% elif kind == 'enum' %}
{{ entry_enum(member) }}
            {% elif kind == 'function' %}
{{ entry_function(member) }}
            {% elif kind == 'variable' %}
{{ entry_variable(member) }}
            {% elif kind == 'macro' %}
{{ entry_macro(member) }}
            {% endif %}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.has_enum_details %}
        <section>
          <h2>Enum documentation</h2>
          {% for group in compound.groups %}
          {% for kind, member in group.members %}
          {% if kind == 'enum' and member.has_details %}
          {{ details_enum(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for kind, member in compound.public_types %}
          {% if kind == 'enum' and member.has_details %}
{{ details_enum(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.protected_types %}
          {% if kind == 'enum' and member.has_details %}
{{ details_enum(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.private_types %}
          {% if kind == 'enum' and member.has_details %}
{{ details_enum(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.related %}
          {% if kind == 'enum' and member.has_details %}
{{ details_enum(member, '') }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_alias_details %}
        <section>
          <h2>Alias documentation</h2>
          {% for group in compound.groups %}
          {% for kind, member in group.members %}
          {% if kind == 'alias' and member.has_details %}
          {{ details_alias(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for kind, member in compound.public_types %}
          {% if kind == 'alias' and member.has_details %}
{{ details_alias(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.protected_types %}
          {% if kind == 'alias' and member.has_details %}
{{ details_alias(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.private_types %}
          {% if kind == 'alias' and member.has_details %}
{{ details_alias(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.related %}
          {% if kind == 'alias' and member.has_details %}
{{ details_alias(member, '') }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_function_details %}
        <section>
          <h2>Function documentation</h2>
          {% for function in compound.typeless_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for group in compound.groups %}
          {% for kind, member in group.members %}
          {% if kind == 'function' and member.has_details %}
          {{ details_function(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for function in compound.public_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.public_static_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.protected_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.protected_static_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.private_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.private_static_functions %}
          {% if function.has_details %}
{{ details_function(function, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.related %}
          {% if kind == 'function' and member.has_details %}
{{ details_function(member, '') }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_variable_details %}
        <section>
          <h2>Variable documentation</h2>
          {% for group in compound.groups %}
          {% for kind, member in group.members %}
          {% if kind == 'variable' and member.has_details %}
          {{ details_variable(member, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for variable in compound.public_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for variable in compound.public_static_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for variable in compound.protected_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for variable in compound.protected_static_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for variable in compound.private_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for variable in compound.private_static_vars %}
          {% if variable.has_details %}
{{ details_variable(variable, compound.prefix_wbr) }}
          {% endif %}
          {% endfor %}
          {% for kind, member in compound.related %}
          {% if kind == 'variable' and member.has_details %}
{{ details_variable(member, '') }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_macro_details %}
        <section>
          <h2>Macro documentation</h2>
          {% for kind, member in compound.related %}
          {% if kind == 'macro' and member.has_details %}
{{ details_macro(member) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
{% endblock %}

