{% extends 'base.html' %}

{% set show_full_name = compound.member_type != 'namespace' %}

{% macro entry_module(module) %}{% include 'entry-module.html' %}{% endmacro %}
{% macro entry_file(file) %}{% include 'entry-file.html' %}{% endmacro %}
{% macro entry_namespace(namespace) %}{% include 'entry-namespace.html' %}{% endmacro %}
{% macro entry_class(class) %}{% include 'entry-class.html' %}{% endmacro %}
{% macro entry_alias(alias) %}{% include 'entry-alias.html' %}{% endmacro %}
{% macro entry_enum(enum) %}{% include 'entry-enum.html' %}{% endmacro %}
{% macro entry_function(function) %}{% include 'entry-function.html' %}{% endmacro %}
{% macro entry_variable(variable) %}{% include 'entry-variable.html' %}{% endmacro %}
{% macro entry_macro(macro) %}{% include 'entry-macro.html' %}{% endmacro %}

{% macro details_class(class) %}{% include 'details-class.html' %}{% endmacro %}
{% macro details_alias(alias) %}{% include 'details-alias.html' %}{% endmacro %}
{% macro details_enum(enum) %}{% include 'details-enum.html' %}{% endmacro %}
{% macro details_function(function) %}{% include 'details-function.html' %}{% endmacro %}
{% macro details_variable(variable) %}{% include 'details-variable.html' %}{% endmacro %}
{% macro details_macro(macro) %}{% include 'details-macro.html' %}{% endmacro %}

{% block main %}
{% block header %}
{% endblock %}
        {% if compound.brief %}
        <p>{{ compound.brief }}</p>
        {% endif %}
        {% if compound.sections or compound.modules or compound.namespaces or compound.classes or compound.enums or compound.aliases or compound.functions or compound.variables or compound.macros %}
        <div class="m-block m-default">
          <h3>Contents</h3>
          <ul>
            {% for id, name, children in compound.sections recursive %}
            {% if children %}
            <li>
              <a href="#{{ id }}">{{ name }}</a>
              <ul>
{{ loop(children)|rtrim|indent(4, true) }}
              </ul>
            </li>
            {% else %}
            <li><a href="#{{ id }}">{{ name }}</a></li>
            {% endif %}
            {% endfor %}
            {% if compound.modules or compound.namespaces or compound.classes or compound.enums or compound.aliases or compound.functions or compound.operators or compound.variables or compound.macros %}
            <li>
              Reference
              <ul>
                {% if compound.modules %}
                <li><a href="#modules">Modules</a></li>
                {% endif %}
                {% if compound.namespaces %}
                <li><a href="#namespaces">Namespaces</a></li>
                {% endif %}
                {% if compound.classes %}
                <li><a href="#nested-classes">Classes</a></li>
                {% endif %}
                {% if compound.aliases %}
                <li><a href="#alias-members">Aliases</a></li>
                {% endif %}
                {% if compound.enums %}
                <li><a href="#enum-members">Enums</a></li>
                {% endif %}
                {% if compound.functions %}
                <li><a href="#function-members">Functions</a></li>
                {% endif %}
                {% if compound.operators %}
                <li><a href="#operator-members">Operators</a></li>
                {% endif %}
                {% if compound.variables %}
                <li><a href="#variable-members">Variables</a></li>
                {% endif %}
                {% if compound.macros %}
                <li><a href="#macro-members">Macros</a></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        {% if compound.doc %}
{{ compound.doc }}
        {% endif %}
        {% if compound.modules %}
        <section id="modules">
          <h2>Modules</h2>
          <dl class="m-doc">
            {% for module in compound.modules %}
{{ entry_module(module) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.namespaces %}
        <section id="namespaces">
          <h2>Namespaces</h2>
          <dl class="m-doc">
            {% for namespace in compound.namespaces %}
{{ entry_namespace(namespace) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.classes %}
        <section id="nested-classes">
          <h2>Classes</h2>
          <dl class="m-doc">
            {% for class in compound.classes %}
{{ entry_class(class) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.aliases %}
        <section id="alias-members">
            <h2>Aliases</h2>
            <dl class="m-doc">
                {% for alias in compound.aliases %}
{{ entry_alias(alias) }}
                {% endfor %}
            </dl>
        </section>
        {% endif %}
        {% if compound.enums %}
        <section id="enum-members">
          <h2>Enums</h2>
          <dl class="m-doc">
            {% for enum in compound.enums %}
{{ entry_enum(enum) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.functions %}
        <section id="function-members">
          <h2>Functions</h2>
          <dl class="m-doc">
            {% for function in compound.functions %}
{{ entry_function(function) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.operators %}
        <section id="operator-members">
          <h2>Operators</h2>
          <dl class="m-doc">
            {% for function in compound.operators %}
{{ entry_function(function) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.variables %}
        <section id="variable-members">
          <h2>Variables</h2>
          <dl class="m-doc">
            {% for variable in compound.variables %}
{{ entry_variable(variable) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.macros %}
        <section id="macro-members">
          <h2>Macros</h2>
          <dl class="m-doc">
            {% for macro in compound.macros %}
{{ entry_macro(macro) }}
            {% endfor %}
          </dl>
        </section>
        {% endif %}
        {% if compound.has_class_details %}
        <section>
            <h2>Class documentation</h2>
            {% for class in compound.classes %}
            {% if class.has_details %}
            {{ details_class(class) }}
            {% endif %}
            {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_alias_details %}
        <section>
            <h2>Alias documentation</h2>
            {% for alias in compound.aliases %}
            {% if alias.has_details %}
            {{ details_alias(alias) }}
            {% endif %}
            {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_enum_details %}
        <section>
          <h2>Enum documentation</h2>
          {% for enum in compound.enums %}
          {% if enum.has_details %}
{{ details_enum(enum) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_function_details %}
        <section>
          <h2>Function documentation</h2>
          {% for function in compound.functions %}
          {% if function.has_details %}
{{ details_function(function) }}
          {% endif %}
          {% endfor %}
          {% for function in compound.operators %}
          {% if function.has_details %}
{{ details_function(function) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_variable_details %}
        <section>
          <h2>Variable documentation</h2>
          {% for variable in compound.variables %}
          {% if variable.has_details %}
{{ details_variable(variable) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
        {% if compound.has_macro_details %}
        <section>
          <h2>Macro documentation</h2>
          {% for macro in compound.macros %}
          {% if macro.has_details %}
{{ details_macro(macro) }}
          {% endif %}
          {% endfor %}
        </section>
        {% endif %}
{% endblock %}
