{% set navbar_current = 'annotated' %}
{% extends 'base-index.html' %}

{% block title %}Classes | {{ super() }}{% endblock %}

{% block main %}
        <h1>Classes</h1>
        <ul class="m-doc">
          {% for i in index.symbols recursive %}
          {% if i.children %}
          <li class="m-doc-collapsible{% if loop.depth > CLASS_INDEX_EXPAND_LEVELS or (i.member_type != 'namespace' and not CLASS_INDEX_EXPAND_INNER) %} collapsed{% endif %}">
            <a href="#" onclick="return toggle(this)">{{ i.member_type }}</a> <a href="{{ i.page_id }}.html" class="m-doc">{{ i.name }}</a>{% if i.inline %} <span class="m-label m-flat m-info">inline</span>{% endif %}{% if i.access == 'protected' %} <span class="m-label m-flat m-warning">protected</span>{% elif i.access == 'private' %} <span class="m-label m-flat m-danger">private</span>{% endif %}{% if i.final %} <span class="m-label m-flat m-warning">final</span>{% elif i.abstract %} <span class="m-label m-flat m-warning">abstract</span>{% endif %}{% if i.deprecated %} <span class="m-label m-danger">deprecated</span>{% endif %}{% if i.since %} {{ i.since }}{% endif %}<br><span class="m-doc">{{ i.brief }}</span>
            <ul class="m-doc">
{{ loop(i.children)|rtrim|indent(4, true) }}
            </ul>
          </li>
          {% else %}
          <li>{{ i.member_type }} <a href="{{ i.page_id }}.html{% if i.page_id != i.id %}#{{ i.id }}{% endif %}" class="m-doc">{{ i.name }}</a>{% if i.inline %} <span class="m-label m-flat m-info">inline</span>{% endif %}{% if i.access == 'protected' %} <span class="m-label m-flat m-warning">protected</span>{% elif i.access == 'private' %} <span class="m-label m-flat m-danger">private</span>{% endif %}{% if i.final %} <span class="m-label m-flat m-warning">final</span>{% elif i.abstract %} <span class="m-label m-flat m-warning">abstract</span>{% endif %}{% if i.deprecated %} <span class="m-label m-danger">deprecated</span>{% endif %}{% if i.since %} {{ i.since }}{% endif %}<br><span class="m-doc">{{ i.brief }}</span></li>
          {% endif %}
          {% endfor %}
        </ul>
{{ super() -}}
{% endblock %}
