          <section class="m-doc-details" id="{{ macro.id }}"><div>
            <h3>
              {% if macro.include %}
              <div class="m-doc-include m-code m-inverted m-right-m m-text-right">#include <a href="{{ macro.include[1] }}">{{ macro.include[0] }}</a></div>
              {% endif %}
              {% set j = joiner(', ') %}
                <span class="m-doc-return">#define </span>
                <span class="m-doc-name"><a href="#{{ macro.id }}" class="m-doc-self">{{ macro.name }}</a></span>
                {% if macro.macro_params %}({% for param in macro.macro_params %}<span class="m-doc-arg">{{ param }}{% if not loop.last %}, {% endif %}</span>{% endfor %}){% endif %}
                {%- if macro.deprecated %} <span class="m-label m-danger">deprecated</span>{% endif %}
                {% if macro.since %} {{ macro.since }}{% endif %}</span>
            </h3>
            {% if macro.brief %}
            <p>{{ macro.brief }}</p>
            {% endif %}
            {% if macro.has_param_details or macro.return_value %}
            <table class="m-table m-fullwidth m-first-tight m-flat">
              {% if macro.has_param_details %}
              <thead>
                <tr><th colspan="2">Parameters</th></tr>
              </thead>
              <tbody>
                {% for name, doc in macro.params %}
                <tr>
                  <td>{{ name }}</td>
                  <td>{{ doc }}</td>
                </tr>
                {% endfor %}
              </tbody>
              {% endif %}
              {% if macro.return_value %}
              <tfoot>
                <tr>
                  <th>Returns</th>
                  <td>{{ macro.return_value }}</td>
                </tr>
              </tfoot>
              {% endif %}
            </table>
            {% endif %}
            {% if macro.doc %}
{{ macro.doc }}
            {% endif %}
          </div></section>
