            <dt{% if not class.has_details and class.page_id == compound.page_id %} id="{{ class.id }}"{% endif %}>
              {% if class.templated %}
              {% set j = joiner(', ') %}
              <div class="m-doc-template">template&lt;{% for t in class.template_parameters %}{{ j() }}{{ t.type }}{% if t.name %} {{ t.name }}{% endif %}{% if t.default %} = {{ t.default }}{% endif %}{% endfor %}&gt;</div>
              {% endif %}
              {{ class.member_type }} {% if class.id %}<a href="{% if class.simple %}{% if class.page_id != compound.page_id %}{{ class.page_id }}.html{% endif %}#{{ class.id }}{% else %}{{ class.page_id }}.html{% endif %}" class="m-doc{% if not class.has_details and class.page_id == compound.page_id %}-self{% endif %}">{% endif %}{{ class.fully_qualified_name if show_full_name else class.name }}{% if class.id %}</a>{% endif %}
              {%- if class.access == 'protected' %} <span class="m-label m-flat m-warning">protected</span>{% elif class.access == 'private' %} <span class="m-label m-flat m-danger">private</span>{% endif %}
              {% if class.final %} <span class="m-label m-flat m-warning">final</span>{% elif class.abstract %} <span class="m-label m-flat m-warning">abstract</span>{% endif %}
              {% if class.deprecated %} <span class="m-label m-danger">deprecated</span>{% endif %}
              {% if class.since %} {{ class.since }}{% endif %}

              {# the empty line is above to fix spacing #}
            </dt>
            <dd>{{ class.brief }}</dd>
